@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cinzel:wght@900&family=Creepster&family=Frijole&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
/* font-family: 'Bungee Shade', cursive;
font-family: 'Cinzel', serif;
font-family: 'Creepster', cursive;
font-family: 'Frijole', cursive;
font-family: 'Press Start 2P', cursive; 
font-family: 'Vast Shadow', cursive;*/

body{
    text-align: center;
    margin: 0;
    background-color: black;
    color: wheat;
    font-size: large;
    font-family: 'Cinzel', serif;
}
a{
    text-decoration: none;
    color: white;
}
.heading{
    padding: 1rem;
    font-size:3rem;
    margin: 1rem auto;
    max-width: 90%;
    font-family: 'Vast Shadow', cursive;
}
.outputHere{
    color:wheat;
    padding: 1rem;
    margin: 1rem;
}
label{
    padding: 1rem;
    margin: 1rem auto;
}

#initPrice, #curPrice, #stonks{
    padding: 0.7rem;
    margin: 1rem auto;
}

img{
    max-width: 90vw;
    margin: auto;
    margin-bottom: 1rem;
}
.Very_high_loss_png{
    max-width: 90vw;
    margin: 0 1rem 4rem 0;
}

button{
    background: #E6F63D;
    background-image: -webkit-linear-gradient(top, #E6F63D, #D0A91E);
    background-image: -moz-linear-gradient(top, #E6F63D, #D0A91E);
    background-image: -ms-linear-gradient(top, #E6F63D, #D0A91E);
    background-image: -o-linear-gradient(top, #E6F63D, #D0A91E);
    background-image: -webkit-gradient(to bottom, #E6F63D, #D0A91E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Jua', sans-serif;
    font-size: xx-large;
    font-weight: 100;
    padding: 1rem 2rem;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
button:hover {
    border: dashed #FFAE00 2px;
    background: #E5F843;
    background-image: -webkit-linear-gradient(top, #E5F843, #F6C93D);
    background-image: -moz-linear-gradient(top, #E5F843, #F6C93D);
    background-image: -ms-linear-gradient(top, #E5F843, #F6C93D);
    background-image: -o-linear-gradient(top, #E5F843, #F6C93D);
    background-image: -webkit-gradient(to bottom, #E5F843, #F6C93D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .outputProfitHere{
     color: greenyellow;
 }
 .outputLossHere, .outputHighLoss{
     color: rgb(221, 75, 30);
     font-family: 'Frijole', cursive;
     font-size: x-large;
 }

 .profit, .loss, .highLoss, .ErrorHere{
     padding: 1rem;
     margin: 1rem;
     font-size: larger;
 }

 .btn-goBack{
     margin: 2rem;
 }

 .ErrorHere{
     font-size: x-large;
     margin: 2rem;
     color: orangered;
 }

 .footer{
    padding: 2rem;
    text-align: center;
    color: wheat;
    
}

.list-item-inline{
    display: inline;
    padding: 1rem;
}

.footer ul{
    padding-inline-start: 0px;
    color:wheat;
}

.footer-header{
    font-size: x-large;
    font-weight: bold;
}