body{
    text-align: center;
    margin: 0;
    background-color: black;
    color: wheat;
    font-size: large;
}
a{
    text-decoration: none;
    color: white;
}
.heading{
    padding: 1rem;
    font-size:4rem;
    margin: 1rem auto;
    max-width: 90%;
}
.outputHere{
    color:wheat;
    padding: 1rem;
    margin: 1rem;
}
label{
    padding: 1rem;
    margin: 1rem auto;
}

#initPrice, #curPrice, #stonks{
    padding: 0.7rem;
    margin: 1rem auto;
}

img{
    max-width: 100vw;
    margin: auto;
}
.Very_high_loss_png{
    width: 100vw;
}
.loader{
    margin-top: 14rem;
    width: 100vw;
}
button{
    background: #E6F63D;
    background-image: -webkit-linear-gradient(top, #E6F63D, #D0A91E);
    background-image: -moz-linear-gradient(top, #E6F63D, #D0A91E);
    background-image: -ms-linear-gradient(top, #E6F63D, #D0A91E);
    background-image: -o-linear-gradient(top, #E6F63D, #D0A91E);
    background-image: -webkit-gradient(to bottom, #E6F63D, #D0A91E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Jua', sans-serif;
    font-size: xx-large;
    font-weight: 100;
    padding: 1rem 2rem;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
button:hover {
    border: dashed #FFAE00 2px;
    background: #E5F843;
    background-image: -webkit-linear-gradient(top, #E5F843, #F6C93D);
    background-image: -moz-linear-gradient(top, #E5F843, #F6C93D);
    background-image: -ms-linear-gradient(top, #E5F843, #F6C93D);
    background-image: -o-linear-gradient(top, #E5F843, #F6C93D);
    background-image: -webkit-gradient(to bottom, #E5F843, #F6C93D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .outputProfitHere{
     color: greenyellow;
 }
 .outputLossHere, .outputHighLoss{
     color: red;
 }